*{
    margin: 0;
    padding: 0;
    font-family: Roboto , Arial;
}
body{

   background-color:  hsl(47, 88%, 63%);
   align-items: center;
   justify-content: center;
   display: grid;
}
.bace{
    background-color:hsl(0, 0%, 100%) ;
    margin: auto;
    padding: 20px;
    box-shadow: 10px 10px 0px;
    border-radius: 20px;
    border: 1px solid black;
    margin-top: 100px;
}
#image-svg{

    border-radius: 8px;
    width: 1fr;
}
.btn-bace{
    display: grid;
margin-top:15px;
width: 1fr;

}
#btn{
padding: 6px 10px 6px 10px;
background-color:hsl(47, 88%, 63%) ;
border: none;
font-weight: bold;
border-radius: 4px;
width: 80px;
}
.date{
margin-top: 15px;
font-size: 13px;
/* font-weight: 550; */
width: 1fr;

}
.text-pointer{
margin-top: 20px;
font-size: 25px;
color: black ;
font-weight: bold;
cursor: pointer;

}
.text-pointer:hover{
    color:hsl(47, 88%, 63%);
}
.explain{
width: 320px;
    margin-top:20px ;
    font-size: 15px ;
    font-weight: 550;
    color: hsl(0, 0%, 42%);
    text-align: left;
    line-height: 23px;
}
.avatar{

margin-top: 20px;
}
.Name-avatar{

margin-left: 10px;
font-weight: bold;
font-size: 13px;

}

#avatar{
width: 30px;
margin-top: -14px;

}
.profile{
display: flex;
align-items: center;
height: 30px;
margin-top: 15px;
}

